<!DOCTYPE html>
<!-- geocode location entry form -->
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Map a Location</title>
</head>

<body>
   <h1>Map a Location</h1>

    <form action="/drawmap" method="post">
        <label for="location">Location</label>     
        <input type="text" name="location" value="">

        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>